thead {
  background-color: rgb(24, 23, 23);
  color: white;
}
tr:nth-child(even) {
  color: black;
  background-color: rgb(131, 130, 130);
}
table,
th,
td {
  text-align: center;

  margin-top: 40px;
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  width: 100%;
}
