.card {
  border: 3px solid black;
  border-radius: 10px;

  & img {
    display: block;
    margin: 10px auto;
    background-color: gray;
    border-radius: 50%;
  }
  & p {
    font-size: 30px;
    margin: auto;
    text-align: center;
    color: grey;
  }

  & ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 3px solid gray;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(218, 217, 217);
  }

  & li {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
    width: 100%;
    font-weight: 500;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
  }
  & li:first-child,
  & li:last-child {
    border-left: none;
    border-right: none;
  }
  & .textName {
    font-size: 36px;
    color: black;
  }
}
